<%- include("header"); -%>

<h2>About Me</h2>

<div class="padded-container greeting-container">
  <div class="my-photo-container">
    <img class="my-photo" src="images/my-photo.jpg" alt="My photo">
  </div>

  <div class="speech-bubble">
    <div class="before"></div>
    <h3>Hi there!</h3>
    <div class="after"></div>
  </div>
</div>

<div class="padded-container my-description-container">
  <p class="my-description-paragraph">
    My name is Ruben Ribeiro and I am a programmer, more specifically a web developer.
    I am passionate about several hobbies including Muay Thai, but my favorite hobby is swimming.
  </p>
</div>

<%- include("footer"); -%>
