<%- include("header"); -%>

<h2>About Me</h2>

<div class="greeting-container">
  <img class="my-photo" src="images/my-photo.jpg" alt="My photo">

  <div class="speech-bubble">
    <div class="before"></div>
    <h3>Hi there!</h3>
    <div class="after"></div>
  </div>
</div>

<div class="column-flexbox my-description-container" style="gap: 10px">
  <p>
    My name is Ruben Ribeiro and I am a programmer, more specifically a MERN Stack developer (MongoDB, Express.js, React.js and Node.js).
  </p>

  <p>
    Outside of my professional life I am passionate about several hobbies including swimming, Muay Thai, meditation and farming.
  </p>

  <p>
    The main reason I started coding is I truly believe coding is freedom, as it helps you take control of your own time and gains.
  </p>

  <p>
    Interested? If so, let's get in touch in the Contact Me section!
    Alternatively, you can visit the My Skills section if you're still on the fence!
  </p>
</div>

<%- include("footer"); -%>
