<%- include("header"); -%>

<h2>Contact Me</h2>

<div class="padded-container">
  <h3 class="help-offer-heading">Are you looking for help designing a website?</h3>
  <img class="flaticon-image" src="images/help.png" alt="Drowning image">
</div>

<div class="padded-container">
  <h3 class="help-offer-heading">Let's talk about how to achieve that goal!</h3>
  <img class="flaticon-image circular-image" src="images/lifeboat.png" alt="Lifeboat image">
</div>

<div class="padded-container contact-info-container">
  <a class="contact-anchor email-anchor" href="mailto:rubem_ribeiro13@hotmail.com">E-mail</a>
  <a class="contact-anchor linkedin-anchor" href="https://www.linkedin.com/in/ruben-ribeiro-6b0b4717a/">LinkedIn</a>
</div>

<%- include("footer"); -%>
