    </main>

    <footer>
      <ul class="column-flexbox" style="gap: 10px">
        <li><a href='https://www.freepik.com/vectors/sea-shore'>
          Sea shore vector created by katemangostar - www.freepik.com
        </a></li>
        <li><a href="https://www.flaticon.com/free-icons/react" title="react icons">
          React icons created by Freepik - Flaticon
        </a></li>
        <li><a href="https://www.flaticon.com/free-icons/backend" title="backend icons">
          Backend icons created by Flat Icons - Flaticon
        </a></li>
        <li><a href="https://www.flaticon.com/free-icons/sns" title="sns icons">
          Sns icons created by Freepik - Flaticon
        </a></li>
        <li><a href="https://www.flaticon.com/free-icons/swimmer" title="swimmer icons">
          Swimmer icons created by photo3idea_studio - Flaticon
        </a></li>
        <li><a href="https://www.flaticon.com/free-icons/drown" title="drown icons">
          Drown icons created by Freepik - Flaticon
        </a></li>
        <li><a href="https://www.flaticon.com/free-icons/lifeboat" title="lifeboat icons">
          Lifeboat icons created by surang - Flaticon
        </a></li>
      </ul>

      <p>© Ruben Ribeiro <span class="current-year"></span></p>
    </footer>

    <input type="hidden" value="<%= scrollOption %>">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
