<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&family=Seaweed+Script&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
  <link rel="manifest" href="favicon_io/site.webmanifest">

  <title>Personal Site</title>
</head>

<body>
  <header>
    <img class="beach-img" src="images/beach.jpg" alt="Beach image">

    <div class="h1-container first-h1-container">
      <h1>Hello.</h1>
    </div>
    <div class="h1-container second-h1-container">
      <h1>I'm Ruben ...</h1>
    </div>
    <div class="h1-container third-h1-container">
      <h1>... a programmer.</h1>
    </div>

    <ul class="navigation-menu">
      <li><a href="/about-me">About Me</a></li>
      <li><a href="/my-skills">My Skills</a></li>
      <li><a href="/contact-me">Contact Me</a></li>
    </ul>

    <hr>
  </header>

  <main>
