<%- include("header"); -%>

<h2>My Skills</h2>

<div class="padded-container skill-container">
  <img class="flaticon-image" src="images/coding.png" alt="Coding image">

  <div class="skill-description-container">
    <h3 class="skill-heading">Web Development</h3>
    <p class="skill-description">
      I started learning to code recently for two reasons.
      The first and main reason is that I truly believe coding is freedom.
      The second reason is that I have always loved math and solving logical problems in general.
    </p>
  </div>
</div>

<div class="padded-container skill-container">
  <div class="skill-description-container">
    <h3 class="skill-heading">Swimming</h3>
    <p class="skill-description">
      Outside of my professional life my best skill is swimming, a skill I've been honing for almost two decades.
      I love swimming because it is extremely healthy, both physically and mentally.
    </p>
  </div>

  <img class="flaticon-image circular-image swimming-image" src="images/swimming.png" alt="Swimming image">
</div>

<%- include("footer"); -%>
