<%- include("header"); -%>

<h2>My Skills</h2>

<div class="column-flexbox skills-container">
  <div class="skill-container">
    <img class="flaticon-image" src="images/react.png" alt="React image">
  
    <div class="skill-description-container">
      <h3 class="skill-heading">Front End Development</h3>
      <p class="skill-description">
        This component of web development is the most challenging and, at the same time, interesting to me.
        Challenging because it requires a lot of creativity and interesting because it's where you can directly see the fruits of your labor.
      </p>
    </div>
  </div>
  
  <div class="skill-container">
    <div class="skill-description-container">
      <h3 class="skill-heading">Back End Development</h3>
      <p class="skill-description">
        I have always had a natural talent for logic and mathematics.
        As such, backend development tools in general (MongoDB, Express.js, Node.js, etc.) are a great fit for me. 
      </p>
    </div>
  
    <img class="flaticon-image even-number-image" src="images/backend.png" alt="Backend image">
  </div>
  
  <div class="skill-container">
    <img class="flaticon-image" src="images/social-media.png" alt="Social media image">
  
    <div class="skill-description-container">
      <h3 class="skill-heading">Digital Marketing</h3>
      <p class="skill-description">
        In addition to creating websites, I also advertise my websites through digital marketing.
        Furthermore, I help people sell their own software and infoproducts in general.
      </p>
    </div>
  </div>
  
  <div class="skill-container">
    <div class="skill-description-container">
      <h3 class="skill-heading">Swimming</h3>
      <p class="skill-description">
        After work there are several hobbies I enjoy, out of which swimming is my favorite.
        I've honed this skill for almost two decades and it has brought me many benefits, both physically and mentally.
      </p>
    </div>
  
    <img class="flaticon-image circular-image even-number-image" src="images/swimming.png" alt="Swimming image">
  </div>
</div>

<div class="portfolio-section">
  <h3 class="portfolio-section-heading">My Portfolio</h3>
  <p class="portfolio-section-paragraph">Talk is cheap, check out my portfolio where I test my mettle!</p>

  <ul class="column-flexbox portfolio-section-list" style="gap: 10px">
    <li><a href="https://github.com/RubenRibeiro13/product-feedback-app-mern-stack">
      https://github.com/RubenRibeiro13/product-feedback-app-mern-stack
    </a></li>

    <li><a href="https://www.frontendmentor.io/solutions/rest-countries-api-with-color-theme-switcher-eNKyBTLYEC">
      https://www.frontendmentor.io/solutions/rest-countries-api-with-color-theme-switcher-eNKyBTLYEC
    </a></li>

    <li><a href="https://www.frontendmentor.io/solutions/responsive-calculator-app-using-flexbox-and-css-grid-SJZqP2OB9">
      https://www.frontendmentor.io/solutions/responsive-calculator-app-using-flexbox-and-css-grid-SJZqP2OB9
    </a></li>

    <li><a href="https://www.frontendmentor.io/solutions/desktopfirst-responsive-design-using-flexbox-and-css-grid-BQzIhL8fW">
      https://www.frontendmentor.io/solutions/desktopfirst-responsive-design-using-flexbox-and-css-grid-BQzIhL8fW
    </a></li>

    <li><a href="https://www.frontendmentor.io/solutions/desktopfirst-responsive-design-using-css-grid-ZFGbDKTZW">
      https://www.frontendmentor.io/solutions/desktopfirst-responsive-design-using-css-grid-ZFGbDKTZW
    </a></li>

    <li><a href="https://www.frontendmentor.io/solutions/desktopfirst-responsive-design-using-flexbox-LH9p6xIDA">
      https://www.frontendmentor.io/solutions/desktopfirst-responsive-design-using-flexbox-LH9p6xIDA
    </a></li>

    <li><a href="https://www.frontendmentor.io/solutions/mobilefirst-responsive-design-using-flexbox-Cmzig1XfW">
      https://www.frontendmentor.io/solutions/mobilefirst-responsive-design-using-flexbox-Cmzig1XfW
    </a></li>
  </ul>
</div>

<%- include("footer"); -%>
