body {
  font-family: 'Original Surfer', cursive;
  text-align: center;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: 'Seaweed Script', cursive;
  font-size: calc(28.5vmin / 2); /* Half the height of the sky in the beach image */
  color: #437c17;
}

h2 {
  /* font-size: max(calc(28.5vmin / 2 / 1.86), 35px); h1 / h2 = 1.86 */
  font-size: 50px;
  color: #87ceeb;
}

h3 {
  /* font-size: max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px); h2 / h3 = 1.86 */
  font-size: 30px;
  color: #00bfff;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  width: 10%;
  border: 0;
  border-top: thick dotted #e6e6e6;
  margin: 0 auto;
}

.column-flexbox {
  display: flex;
  flex-direction: column;
}

.centering-container {
  display: flex;
  justify-content: center;
}

.circular-image {
  border-radius: 50%;
}

.flaticon-image {
  /* width: clamp(216px, 40%, 256px); */
  width: 256px;
}

.padded-container {
  padding: min(6vw, 40px);
}

/* Header */

.beach-img {
  width: 100%;
  height: 100vmin;

  position: absolute;
  left: 0;
  z-index: -1;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-h1-container {
  height: 28.5vmin;
}

.second-h1-container {
  height: 39.5vmin;
}

.third-h1-container {
  height: 32vmin;
}

/* Header, main and footer */

.navigation-menu, main, footer {
  line-height: 1.5;
}

/* Header */

.navigation-menu {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.navigation-menu a {
  color: #00bfff;
  display: block;
}

.navigation-menu a:hover {
  color: #87ceeb;
}

/* Main */

main {
  padding: 7vw 5vw;
}

/* Footer */

footer {
  background: #2b65ec;
  padding: min(6vw, 40px);
}

footer a {
  color: #dbb66f;
}

footer a:hover {
  color: #f2e0bc;
}

footer p {
  font-size: 12px;
  color: white;
  margin-top: 25px;
}

/* About section */

.greeting-container {
  margin: min(12vw, 80px) 0;
  display: flex;
  justify-content: center;
  /* gap: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 0.3); */
  gap: 30px;
}

.my-photo {
  border-radius: 50%;
  /* width: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 2.56); */
  width: 256px;
}

.speech-bubble {
  border-radius: 50%;
  /* width: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73);
  height: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2);
  border: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 0.05) solid #00bfff; */
  width: 200px;
  height: 100px;
  border: 5px solid #00bfff;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.speech-bubble .before, .speech-bubble .after {
  width: 0;
  height: 0;
  /* border-left: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 0.43) solid transparent;
  border-right: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 0.11) solid transparent; */
  border-left: 43px solid transparent;
  border-right: 11px solid transparent;
  transform: rotate(-5deg);

  position: absolute;
}

.speech-bubble .before {
  /* border-bottom: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 0.17) solid #00bfff; */

  border-bottom: 17px solid #00bfff;
  left: -21.5%;
  bottom: 20%;
}

.speech-bubble .after {
  /* border-bottom: calc(max(calc(28.5vmin / 2 / 1.86 / 1.86), 25px) * 6.73 / 2 * 0.17) solid white; */

  border-bottom: 17px solid white;
  left: -10%;
  bottom: 27%;
}

.my-description-container {
  font-size: 20px;
  width: min(100%, 700px);
  margin: 0 auto;
}

/* Skills section */

.skill-description, .portfolio-section-paragraph, .portfolio-section-list {
  font-size: 20px;
}

.skills-container {
  margin: min(12vw, 80px) 0;
  gap: min(6vw, 40px);
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skill-description-container {
  text-align: left;
  width: min(100%, 500px);
}

.skill-heading {
  margin-bottom: revert;
}

.portfolio-section {
  width: min(100%, 700px);
  margin: 0 auto;
}

.portfolio-section-paragraph {
  margin: 30px 0 20px;
}

.portfolio-section-list li {
  width: 100%;
}

.portfolio-section-list a {
  color: #00bfff;
  overflow-wrap: break-word;
}

.portfolio-section-list a:hover {
  color: #87ceeb;
}

/* Contact section */

.help-offers-container {
  width: min(100%, 700px);
  margin: min(12vw, 80px) auto;
  gap: min(6vw, 40px);
}

.help-offer-heading {
  margin-bottom: revert;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-anchor {
  font-size: 20px;
  border-radius: 10px;
  width: 80px;
  padding: 10px 60px;
}

.email-anchor {
  border: 1px solid #87ceeb;
  color: #87ceeb;
}

.email-anchor:hover {
  background: #87ceeb;
  color: white;
}

.linkedin-anchor {
  border: 1px solid #00bfff;
  color: #00bfff;
}

.linkedin-anchor:hover {
  background: #00bfff;
  color: white;
}

/* JavaScript classes */

.current-section {
  color: #87ceeb;
  border-bottom: thick solid #87ceeb;
  pointer-events: none;
}

/* Medium devices */

@media (max-width: 900px) {

  .navigation-menu {
    padding: 30px;
    justify-content: center;
  }

  .skill-container {
    flex-direction: column;
  }

  .even-number-image {
    order: -1;
  }

  .skill-description-container {
    text-align: center;
  }

}

/* Small devices */

@media (max-width: 600px) {

  .navigation-menu {
    padding: 35px;
    flex-direction: column;
    align-items: center;
  }

  .navigation-menu li {
    width: max-content;
  }

  .greeting-container {
    flex-direction: column;
    align-items: center;
  }

  .speech-bubble {
    order: -1;
  }

  .speech-bubble .before, .speech-bubble .after {
    /* border-left-width: 22.5px;
    border-right-width: 22.5px; */
    border-left-width: 26.4px;
    border-right-width: 26.4px;
    border-bottom: 0;
    transform: translateX(-50%);

    left: 50%;
  }

  .speech-bubble .before {
    /* border-top: 29px solid #00bfff; */
    border-top: 34px solid #00bfff;
    bottom: -35px;
    /* bottom: -30px; */
  }

  .speech-bubble .after {
    /* border-top: 29px solid white; */
    border-top: 34px solid white;
    bottom: -28px;
    /* bottom: -23px; */
  }

  .contact-info-container {
    flex-direction: column;
    align-items: center;
  }

}
